:root {
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url('./assets/pizza.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/**********CONTAINER****************/
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

/**********NAV****************/
nav {
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding: 1rem;
}

.nav-item {
  font-size: 1.2rem;
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
}

/**********HOME****************/
.homeContent {
  color: whitesmoke;
  text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**********MENU****************/
.menuContent {
  color: whitesmoke;
  text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
  font-size: 25px;
  display: flex;
  flex-direction: column;
  width: inherit;
  height: inherit;
  align-items: center;
  justify-content: center;
}

.menuItem {
  width: 75vw;
  display: flex;
  justify-content: space-between;
}

