:root {
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: black;
}

body::before {  /*USED FOR BACKGROUND IMAGE OPACITY*/
  content: "";
  background-image: url('./assets/pizza.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute; /*SET SO THAT BACKGROUND IS BEHIND CONTENT*/
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

/**********CONTAINER****************/
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 75vh;
  width: 100vw;
  position: relative; /*SET SO THAT CONTENT IS VISIBLE*/
}

/**********NAV****************/
nav {
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding: 1rem;
  position: relative; /*SET SO THAT NAV IS VISIBLE*/
}

.nav-item {
  font-size: 1.2rem;
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
}

/**********HOME****************/
.homeContent {
  color: whitesmoke;
  text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**********MENU****************/
.menuContent {
  color: whitesmoke;
  text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
  font-size: 25px;
  display: flex;
  flex-direction: column;
  width: inherit;
  height: inherit;
  align-items: center;
}

.menuItem {
  width: 75vw;
  display: flex;
  justify-content: space-between;
}

/**********CONTACT****************/
.contactContent {
  color: whitesmoke;
  text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
  font-size: 25px;
  display: flex;
  flex-direction: column;
  width: inherit;
  height: inherit;
  align-items: center;
}

form {
  height: inherit;
  width: inherit;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

label {
  display: flex;
  align-items: center;
}

input {
  margin: 10px;
}

